
:root{
    --main-clr: #005ba0;
    --main-clr-2: #dee5eb;
    --light-main: #c8dcec;
    --dark-main: #000000;
    --footer-bottom: #000000;
    --footer-bg: #352424;
    --footer-colorLight: #cccccc;
    --footer-heading: #e1e1e1;
    --custom-gray: #555555;
}

body{
    font-family: "Poppins", serif;
}

::selection{
    background: var(--main-clr);color: white;
}


.headerLogo{
    height: 48px;
}
.callBtn{
    border-radius: 24px;border: 2px solid var(--main-clr);padding: 5px 20px !important;font-weight:600;color:var(--main-clr);transition: all ease-in-out .2s;width: fit-content;
}
.callBtn:hover{
    background: var(--main-clr);color: #fff;
}
.translateGoogle{
    height: 34px;overflow: hidden;width: 9em;
}
.goog-te-combo{
    background: transparent;padding: 6px 12px;border: 1px solid #555;border-radius: 6px;
}

.navbar{
    z-index: 2;
}
.navbar.active{
    position: fixed;top: -70px;left: 0;width: 100%;z-index: 5;transition: all ease-in-out .3s;
}
.navbar.active1{
    top: 0;
}

.mainSetion{
    position: relative;background-color: rgba(0,0,0,0.5);
    padding: 3rem 0;
}
.mainSetion::before{
    content:'';height: 100%;width: 100%;position: absolute;top: 0;left: 0;
    background-image: url('../assets/bgImage1.jpg');background-size: cover;background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;z-index: -1;
}
.mainSetion .mainHeading{
    color: #fff;font-size: 36px;font-weight: 600;text-align: center;
}
.flightSearchSection{
    margin-top: 3rem;background-color: white;border-radius: 1rem;padding: 1.5rem;position: relative;padding-bottom: 2.5rem;
}
.flightSearchSection.ytycytckgctd{
    margin-top: 0;border-radius: 0px;position: relative;height: 0px;padding: 0;opacity: 0;transition: all ease-in-out .4s;pointer-events: none;user-select: none;
}
.flightSearchSection.ytycytckgctd.active{
    height: 11em;opacity: 1;border-top: 1px solid #ddd;margin-top: 12px;padding-top: 20px;pointer-events: all;user-select: revert;
}
.flightSearchSection .tripType{
    display: flex;align-items: center;gap: 10px;
}
.flightSearchSection .tripType label {
    display: flex;align-items: center;gap: 6px;transition: all ease-in-out .2s;padding: 6px 20px;border-radius: 12px;cursor: pointer;font-weight: 600;font-size: 14px;
}
.flightSearchSection .tripType label input{
    display: none;
}
.flightSearchSection .tripType label.active {
    background: var(--main-clr);color: #fff;
}

.flightSearchSection .entrySection {
    display: flex;align-items: center;gap: 6px;margin-top: 1rem;
}
.flightSearchSection .entrySection>div{
    display: flex;flex-direction: column;gap:4px;
}
.flightSearchSection .entrySection .firstCh1{
    width: 17%;
}
.flightSearchSection .entrySection .firstCh2{
    width: 5%;
}
.flightSearchSection .entrySection .firstCh3{
    width: 13%;
}

.flightSearchSection .entrySection .firstCh2 select,
.flightSearchSection .entrySection .firstCh3 select{
    background: white;outline: none;border: 1px solid #4e4e4e;border-radius: 4px;padding: 4px 4px 4px 8px ;
}

.flightSearchSection .searchButton{
    position: absolute;top: 86%;width: 100%;left:0;display: flex;justify-content: center;
}
.flightSearchSection .searchButton button{
    background-color: var(--main-clr);color: #fff;border: 0px;border-radius: 40px;padding: 8px;font-size: 20px;font-weight: 600;width: 9em;
}

.flightSearchSection .entrySection>div label{
    font-size: 14px;
}

.flightSearchSection .entrySection .ewawegWEWE {
    position: absolute;background: white;display: none;top: 100%;padding: 8px;border-radius: 4px;width: 28em;z-index: 1;
}
.flightSearchSection .entrySection .ewawegWEWE ul{
    display: flex;list-style: none;flex-direction: column;margin: 0;padding: 0;
}
.flightSearchSection .entrySection .ewawegWEWE li{
    font-size: 13px;font-weight: 400;cursor: pointer;width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding: 10px 12px;transition: all ease-in-out .1s;border-radius: 6px;border-bottom: 1px solid #ddd;
}
.flightSearchSection .entrySection .ewawegWEWE li:hover{
    background-color: #00000018;
}
.flightSearchSection .entrySection .ewawegWEWE li i{
    position: revert;font-size: 13px;color: black;padding-right: 4px;
}
.flightSearchSection .entrySection .ewawegWEWE.active {
    display: block;box-shadow: 0px 2px 2px 1px #00000029;
}

.positioReiiiad{
    position: relative;
}
.positioReiiiad .suppTag{
    position: absolute;left: 8px;top: 9px;font-size: 14px;color: var(--main-clr);
}
.positioReiiiad .rotate{
    position: absolute;right: -10px;top: 2px;font-size: 14px;color: var(--main-clr);z-index: 2;background-color: #fff;padding: 6px;border: 1px solid #ddd;border-radius: 50%;cursor: pointer;
}
.positioReiiiad input{
    padding:6px 14px;padding-left: 32px;outline: none;width: 100%;border: 1px solid #4e4e4e;border-radius:4px;font-size: 14px;
}

.whyWithUs{
    background: #f5f5f5;padding: 2rem 0;
}
.whyWithUs .firstCHild{
    display: grid;grid-template-columns: repeat(4,1fr);gap:14px;margin-top: 2rem;
}
.whyWithUs .firstCHild>div{
    background-color: #fff;border-radius: 6px;box-shadow: 0 0 3px 2px #0000000c;padding: 1.5rem;transition: all ease-in-out .3s;
    display: flex;flex-direction: column;align-items: center;text-align: center;gap: 22px;cursor: pointer;
}
.whyWithUs .firstCHild .imgWhy{
    height: 50px;width: 50px;align-content: center;transition: all ease-in-out .5s;
}
.whyWithUs .firstCHild>div:hover{
    box-shadow: 0px 8px 8px 1px #7878783b;transform:scale(1.04);
}
.whyWithUs .firstCHild>div:hover .imgWhy{
    transform: rotateY(360deg) scale(1.1);top: -10px;
}
.whyWithUs .firstCHild h4{
    font-size: 18px;font-weight: 500;
}
.whyWithUs .firstCHild p{
    font-size: 14px;color: #555;margin-bottom: 0;
}
.cfvghjklkjhbv .mainewewe{
    font-size: 34px;border-bottom: 1px solid #ddd;padding-bottom: 12px;position: relative;
}
.cfvghjklkjhbv .mainewewe span{
    color: var(--main-clr);
}
.cfvghjklkjhbv .mainewewe::after{
    content: '';position: absolute;left: 0;bottom: -1px;width: 100px;background: var(--main-clr);height: 2px;
}


.dealOfferMain{
    margin-top: 1.5rem;
}
.firsterwiei {
    padding: 6px;
}
.firsterwiei>div{
    position: relative;
}
.firsterwiei img{
    transition: all ease-in-out .3s;
}
.firsterwiei:hover img{
    transform: scale(1.1);
}
.firsterwiei .first{
    border-radius: 8px;overflow: hidden;height: 200px;
}
.firsterwiei .second{
    text-decoration: none;position: absolute;width: 100%;height: 100%;top: 0;left: 0;border-radius: 8px;background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 40%);display: flex;align-items: end;
}
.firsterwiei .second .cvghjkl{
    padding-bottom: 8px ;padding-left:16px;color: white;font-size: 20px;font-weight: 500;
}

.sliderArrow{
    position: absolute;top: 45%;background-color: white;box-shadow: 1px 1px 10px 1px #0003;border-radius: 50%;height: 40px;width: 40px;display: grid;place-items: center;cursor: pointer;transition: all ease-in-out .2s;z-index: 1;font-size: 20px;
}
.sliderArrow.fa-arrow-left{
    left: -0.7em;
}
.sliderArrow.fa-arrow-right{
    right: -0.7em;
}
.sliderArrow:hover{
    transform: scale(1.1);
}


.moreABoutUs h4{
    font-size: 18px;font-weight: 600;margin-bottom: 1rem;
}
.moreABoutUs p{
    font-size: 14px;font-weight: 400;
}


footer{
    background-color: var(--footer-bg);
}
footer .footerLogo{
    height: 50px;
}
footer p{
    font-size: 14px;color: var(--footer-colorLight);margin-bottom: 0;
}
footer ul{
    list-style: none;margin: 0;padding: 0;display: flex;flex-direction: column;gap: 10px;margin-top: 20px;
}
footer ul li{
    font-size: 14px;color: var(--footer-colorLight);
}
footer ul li a{
    text-decoration: none;color: var(--footer-colorLight);font-weight: 400;transition: all ease-in-out .1s;
}
footer ul li i{
    color: var(--main-clr-2);
}
footer ul li a:hover{
    color: var(--main-clr-2);
}
footer .fooSecHead{
    font-size: 18px;color: var(--footer-heading);margin-top: 12px;font-weight: 600;
}

footer .footerPartner{
    display: flex;align-items: center;justify-content: center;margin-top: 2rem;
}
footer .footerPartner>div{
    height: 60px;
}
footer .footerPartner>div img{
    height: 100%;width: auto;object-fit: cover;
}

footer .copyright{
    background: var(--footer-bottom);color: white;text-align: center;font-size: 14px;margin-top: 2rem;padding: 10px;
}

footer .socialMedia a{
    border: 1px solid var(--main-clr-2);border-radius: 50%;width: 35px;height: 35px;display: grid;place-items: center;cursor: pointer;text-decoration: none;font-size: 14px;
}
footer .socialMedia a{
    color: var(--main-clr-2);
}
footer .socialMedia a i{
    transition: all ease-in-out .3s;
}
footer .socialMedia:hover a{
    background: var(--main-clr);
}
footer .socialMedia:hover i{
    transform:rotateY(180deg);color: white;
}


.subscriberDiv{
    background: linear-gradient(90deg, var(--dark-main) 0%, var(--main-clr) 100%);
}
.subscriberDiv h3{
    font-size: 26px;font-weight: 600;color: white;
}
.subscriberDiv p{
    font-size: 18px;font-weight: 500;color: #dddddd;margin-bottom: 0;
}
.subscriberDiv form {
    display: flex;align-items: center;gap: 8px;flex-wrap: wrap;
}
.subscriberDiv form input{
    padding: 8px 16px;border: 0px;font-size: 16px;font-weight: 500;border-radius: 4px;border: 1px solid #fff;outline: none;width: 70%;
}
.subscriberDiv form button{
    padding: 8px 12px;border: 1px solid #fff;background: transparent;color: white;font-size: 16px;font-weight: 600;border-radius: 4px;text-transform: uppercase;transition: all ease-in-out .2s;
}
.subscriberDiv form button:hover{
    background: #fff;color: var(--main-clr);border-color: #fff;
}


/*!------------------------ Flight Search Page CSS ------------------------------------ */

.modifySearch{
    background-image: url('../assets/flightSearchBg.png');background-position:bottom;background-repeat: repeat-x;
    padding-top: 3rem;
}
.modifySearch .fghjkl{
    font-size: 14px;font-weight: 500;color: var(--main-clr);margin-bottom: 4px;display: flex;align-items: center;gap: 8px;
}

.modifySearch .gctvyuiljhgbw{
    box-shadow: 0 0 10px 4px #00000017;padding: 12px 1rem;background-color: white;border-radius: 4px;
}
.modifySearch .modyvghjkl{
    border-radius: 4px;display: flex;align-items: center;justify-content: space-between;
}

.modifySearch .wouehouwvwef{
    display: flex;align-items: center;gap: 1rem;
}
.modifySearch .wouehouwvwef>div{
    font-size: 14px ;font-weight: 500;
}
.modifySearch .wouehouwvwef .vghuioijh{
    position: relative;padding-left: 1rem;
}
.modifySearch .wouehouwvwef .vghuioijh::before{
    content: '';position: absolute;top: 0;left:0;border-left: 1px solid;height: 100%;
}
.modifySearch .modButtonhaefef>div{
    padding: 6px 12px;background: var(--main-clr);cursor: pointer;border-radius: 4px;font-size: 14px;color: white;display: flex;align-items: center;justify-content: space-between;gap: 8px;
}

.flightResultMainbhj{
    padding-top: 2rem;display: flex;justify-content: space-between;padding-bottom: 2rem;align-items: start;
}
.flightResultMainbhj .filterSection{
    width: 24%;background: white;box-shadow: 0 2px 3px rgba(0, 0, 0, .1607843137);border-radius: 2px;position: sticky;top: 1rem;
}
.flightResultMainbhj .filterSection .hevybooubub{
    padding: 1rem;background: var(--main-clr);color: white;text-align: center;position: relative;padding-bottom: 1.8rem;
}
.flightResultMainbhj .filterSection .hevybooubub .fgweh2qef{
    display: none;
}
.flightResultMainbhj .filterSection .hevybooubub .ouwjevbw{
    position: absolute;right: 47%;height: 40px;width: 40px;border-radius: 50%;border: 4px solid;font-size: 12px;display: grid;place-items: center;bottom: -16px;background: var(--main-clr);z-index: 2;
}
.flightResultMainbhj .containettbiv{
    padding: 0.5rem 1rem;
    /* max-height: 500px;overflow: auto; */
}
.flightResultMainbhj .containettbiv>div{
    padding:12px 0;border-bottom: 1px solid #ddd;
}
.flightResultMainbhj .containettbiv>div:last-child{
    border: 0;
}
.flightResultMainbhj .containettbiv .heaubfobbbfef{
    font-size: 14px;font-weight: 600;color: var(--main-clr);margin-bottom: .7rem;
}
.containettbiv .gyuistopUbdubv{
    display: flex;flex-direction:column;gap: 6px;
}
.containettbiv .gyuistopUbdubv>div{
    display: flex;align-items: center;gap: 10px;
}
.containettbiv .gyuistopUbdubv label{
    font-size: 13px;font-weight: 400;color: var(--custom-gray);
}
.containettbiv .ui-slider-horizontal{
    margin-bottom: .5rem;
}
.containettbiv .ui-slider-horizontal{
    height: 0.5em;
}
.containettbiv .ui-slider-horizontal .ui-slider-range{
    background: var(--main-clr);
}
.containettbiv .ui-widget-content .ui-state-default{
    border-radius: 50%;top: -0.4em;
}
.containettbiv .ui-state-default.ui-state-active{
    border-color: var(--light-main) ;background: var(--light-main);
}

.containettbiv .wrbwrbbwrv{
    display: flex;align-items: center;justify-content: space-between;margin-bottom: 8px;font-size: 14px;font-weight: 400;
    color: var(--custom-gray);
}
.containettbiv .timingmainienw{
    display: grid;grid-template-columns: repeat(4,1fr);gap: 4px;margin-bottom: 6px;
}
.containettbiv .timingmainienw label{
    padding: 6px;border: 1px solid #ddd;font-size: 12px;color: var(--custom-gray);display: flex;flex-direction: column;align-items: center;text-align: center;border-radius: 4px;gap: 3px;cursor: pointer;transition: all ease-in-out .1s;
}
.containettbiv .timingmainienw label:has(input:checked) {
    border-color: var(--main-clr);color: var(--main-clr);font-weight: 600;
}
.containettbiv .timingmainienw label:hover{
    border-color: var(--light-main);
}
.containettbiv .timingmainienw label img{
    height: 20px;
}
.containettbiv .timingmainienw label input{
    display: none;
}

.flightResultMainbhj .resultSection{
    width: calc(100% - 26%)
}

.srtByTop{
    background-color: white;border-radius: 4px;display: flex;align-items: center;justify-content: space-between;border: 1px solid #ddd;
}
.srtByTop .fghq3f{
    font-size: 16px;font-weight: 400;padding-left: 1rem;
}
.srtByTop .fghq3fwvw{
    display: none;
}
.srtByTop .tjlnwwefq{
    display: flex;align-items: center;
}
.srtByTop .tjlnwwefq>div{
    border-left: 1px solid #ddd;padding: 8px 12px;cursor: pointer;font-size: 14px;font-weight: 600;transition: all ease-in-out .3s;
}
.srtByTop .tjlnwwefq>div.active{
    background: #e7e7e7;
}
.srtByTop .tjlnwwefq>div i{
    font-size: 12px;padding-left: 4px;
}

.searchOneWayBoxMain{
    background: white;box-shadow: 0 0 6px 4px #dddddd43;border-radius: 6px;padding: 1rem 0;
}
.searchOneWayBox{
    display: flex;justify-content: space-between;margin-bottom: 12px;flex-wrap: wrap;
}
.searchOneWayBox .fguioaecw{
    padding: 0 1rem;width: 18%;
}
.searchOneWayBox .fguioaecw img{
    height: 30px;
}
.searchOneWayBox .fguioaecw .first{
    font-size: 14px;color: var(--custom-gray);margin-top: 10px;
}
.searchOneWayBox .fguioaecw .second{
    font-size: 14px;font-weight: 500;
}
.searchOneWayBox .tinianscac{
    display: flex;align-items: center;justify-content: space-between;width: 55%;padding: 0 1rem;
    border-right: 1px solid #ddd;border-left: 1px solid #ddd;
}
.searchOneWayBox .tinianscac>div{
    width: calc(75% / 3);
}
.searchOneWayBox .tinianscac .second{
    display: flex;align-items: center;flex-direction: column;
}
.searchOneWayBox .tinianscac .second .time,
.searchOneWayBox .tinianscac .second .typenaeU{
    font-size: 12px;font-weight: 600;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct{
    width: 6em;height: 1px;border: 1px dashed #707070;display: flex;margin: 14px 0;position: relative;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct::before,
.searchOneWayBox .tinianscac .second .iasciascna .direct::after{
    content:'';position: absolute;width: 15px;height: 15px;border-radius: 50%;border: 1px solid;top: -7.5px;background-color: white;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct::before{
    left: -1px;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct::after{
    right: -1px;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct .oneStop::before{
    content:"";position:absolute;background: #ca3b3b;height: 10px;width: 10px;display: flex;border-radius: 50%;top: -5px;right: 2.8em;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct .twoStop::before,
.searchOneWayBox .tinianscac .second .iasciascna .direct .twoStop::after{
    content:"";position:absolute;background: #ca3b3b;height: 10px;width: 10px;display: flex;border-radius: 50%;top: -5px;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct .twoStop::before{
    right: 3.3em;
}
.searchOneWayBox .tinianscac .second .iasciascna .direct .twoStop::after{
    right: 2.0em;
}
.searchOneWayBox .tinianscac .vghjkw4eg4e .date{
    font-size: 14px;color: var(--custom-gray);
}
.searchOneWayBox .tinianscac .vghjkw4eg4e .time{
    font-size: 16px;color: var(--main-clr);font-weight: 500;margin-top: 2px;
}
.searchOneWayBox .tinianscac .vghjkw4eg4e .aiwena{
    font-size: 20px;font-weight: 600;
}
.searchOneWayBox .prizenvinwe{
    width: 18%;padding-right: 1rem;display: flex;flex-direction: column;align-items: end;
}
.searchOneWayBox .prizenvinwe .geiihwe{
    font-size: 14px;font-weight: 400;color: var(--custom-gray);
}
.searchOneWayBox .prizenvinwe .iiamianqe{
    font-size: 30px;font-weight: 600;color: #000;
}
.searchOneWayBox .prizenvinwe .biiqbbiq{
    background: var(--main-clr);color: white;padding: 6px 0px;border-radius: 4px;cursor: pointer;font-size: 14px;font-weight: 400;margin-top: 2px;width: 70%;text-align: center;
}
.searchOneWayBox .prizenvinwe .biiqbbiq i{
    font-size: 12px;margin-left: 4px;
}
.moreInfo{
    display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;font-size: 13px;font-weight: 400;border-top: 1px solid #ddd;padding-top: 10px;
}
.moreInfo i{
    padding-right: 2px;
}
.moreInfo>div:first-child{
    cursor: pointer;
}
.fgyuioehwue{
    display: flex;align-items: center;justify-content: space-between;padding: 4px 1rem;background-color: var(--main-clr);color: white;margin-top:12px;font-size: 12px;font-weight: 500;
}

.detailsBox{
    display: none;
}
.detailsBox .fghuiwebuwqe{
    background: #fff9ed;padding-top: 12px;
}
.detailsBox .searchOneWayBox{
    margin-bottom: 0px;padding-bottom: 12px;
}
.detailsBox .searchOneWayBox .tinianscac{
    border: 0px;
}
.detailsBox .searchOneWayBox .tinianscac .vghjkw4eg4e .aiwena{
    font-size: 14px;
}
.detailsBox .searchOneWayBox .tinianscac .vghjkw4eg4e .date,
.detailsBox .searchOneWayBox .tinianscac .vghjkw4eg4e .time,
.detailsBox .searchOneWayBox .tinianscac .vghjkw4eg4e .termina,
.detailsBox .searchOneWayBox .fguioaecw .first,
.detailsBox .searchOneWayBox .fguioaecw .second{
    font-size: 12px;
}

.detailsBox .wevwvwev12{
    width: 100%;display: flex;align-items: center;justify-content: center;border-bottom: 1px solid #ddd;
}
.detailsBox .wevwvwev12>div{
    background: #f1f1f1;padding: 2px 14px;font-size: 12px;font-weight: 400;border-radius: 4px 4px 0 0;
}

.iiqigvqefqaqf{
    padding: 0 1rem;margin-bottom:10px;
}
.iiqigvqefqaqf .eofwoewewe1 img{
    height: 20px;
}
.iiqigvqefqaqf .eofwoewewe1 .first{
    font-size: 12px;color: var(--custom-gray);margin-top: 2px;
}
.iiqigvqefqaqf .eofwoewewe1 .second,
.iiqigvqefqaqf .eofwoewewe2 .geiihwe{
    font-size: 12px;
}
.iiqigvqefqaqf .eofwoewewe2 .iiamianqe{
    font-size: 18px;color: var(--main-clr);font-weight: 600;
}

.detailsBox.active{
    display: block;
}

.waerg5ver{
    cursor: pointer;
}


@media (min-width: 992px) {
    
    .cusLink{
        padding: 0px 18px !important;
    }
    .wedrfgthj{
        align-items: center;
    }
    .wedrftgyhujkl{
        justify-content: space-between;
    }

}